pysnooper
pprofile
six
pyrsistent
fn
toolz
cytoolz
functoolsex
cython
psutil
retrying
simplejson
requests
pyro4
pika
pykka
redis
python-redis-lock
eventlet<0.24
nameko<3.0
python-consul
greenlet
gunicorn[eventlet]<19.10
flask
flask-restful
