pysnooper
pprofile
six
pyrsistent
fn
toolz
cytoolz
functoolsex
cython
psutil
retrying
simplejson
requests
pyro4
pika
pykka
redis
python-redis-lock
nameko<3.0
python-consul
greenlet
eventlet
gunicorn[eventlet]
flask
flask-restful
